# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQL Server and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=9000
DATABASE_URL="mysql://root:secret@db:3306/crypto_db"
ROUND_MINUTES=15
LOCK_ROUND_MINUTES=3
ENTRY_ETH=0.01
WEBSITE_FEE_PCT=7
WEB_SOCKET_URL=ws://ganache:8545
ETHERSCAN_API_URL=https://api-ropsten.etherscan.io
ETHERSCAN_API_KEY=
ADMIN_ADDRESS=
ADMIN_PRIVATE_KEY=