@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~@splidejs/splide/dist/css/themes/splide-default.min.css';
@import 'fonts';

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: ProximaNova, sans-serif;
  margin-bottom: 110px;
  background: url("../img/bg1.jpg") no-repeat fixed center bottom;
  background-size: cover;
  color: #000;
}

.app-container {
  height: 100%;

  &:after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -2;
    background: transparent;
    transition: all ease .2s;
  }

  &:not(.homepage) {
    &:after {
      background: rgba(255, 255, 255, .2);
    }
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.nav-link {
  padding-top: 0;
}

.font-bai {
  font-family: Bai_Jamjuree, sans-serif;
}

.font-seaweed {
  font-family: 'Seaweed Script', sans-serif;
}

.b-calendar-header, .b-calendar-grid-help {
  display: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#header {
  padding: 50px 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  line-height: 100px;
  background: linear-gradient(180deg, rgba(186, 174, 155, 0) 0%, #B9AD9A 100%);

  .nav-link {
    color: #000;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  padding: 9px 22px;
}

.btn-secondary {
  background: rgba(18, 18, 18, 0.7);
  border: 1px solid #FFFFFF;
}

.btn-pad {
  padding: 9px 45px;
}

.border-none {
  border: none !important;
}

.btn-secondary-fill {
  background: rgba(98, 98, 98, 1);
}

.btn-white {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:hover {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.token-img {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 0;
  opacity: .8;
}

.dots-img {
  position: absolute;
  z-index: -2;
  top: 18%;
  left: 22%;
}

.home-btn-width {
  min-width: 84px;
}

.dropdown {
  &.show {
    button {
      background: #F8F8F8;
      border-radius: 23px 23px 0 0 !important;
      line-height: 32px;
    }
  }

  .dropdown-menu {
    right: 0;
    min-width: 160px;
    border-radius: 0;
    background: #F8F8F8;
    box-shadow: 0px 15px 10px rgba(13, 39, 80, 0.16);
  }

  .dropdown-item {
    border-bottom: 1px solid #eee;
  }


  button {
    color: #000;
    border-radius: 23px !important;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 5px 5px 20px;
    line-height: 30px;
    font-weight: 500;

    &.dropdown-toggle::after {
      background: url("../img/dropdown.svg") no-repeat;
      width: 32px;
      height: 32px;
      border: none;
      vertical-align: bottom;
      margin-left: 10px;
    }
  }

  .dropdown-item {
    padding: 0.45rem 1.25rem;

    &.active, &:active {
      background: #f9f9f9;
      color: #000;
    }
  }

  &.datepicker {
    background: transparent;

    .dropdown-menu {
      right: auto;
      top: 4px !important;
      left: -54px !important;
    }

    button {
      background: transparent;

    }
  }
}


.text-grey {
  color: #555;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-24 {
  font-size: 24px;
}

.fz-36 {
  font-size: 36px;
}

.fz-48 {
  font-size: 48px;
}

.lh-2 {
  line-height: 38px;
}

.text-black {
  color: #000;
}

a:hover {
  &.no-decoration:hover {
    text-decoration: none !important;
  }
}

.bold-500 {
  font-weight: 500;
}

.bold-700 {
  font-weight: 700;
}

.dropdown-menu.show {
  padding: 0;
  border: none;
  margin-top: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  a {
    font-weight: 500;
  }
}

.close {
  font-weight: 300;
  color: #000;
  font-size: 3.5rem;
  line-height: 24px;
  opacity: .7;
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal-content {
  background: #F8F8F8;
  border: none;
  border-radius: 25px;

  .modal-body {
    padding: 2.5rem;
    font-weight: 500;
  }
}

.input-border {
  border-radius: 25px;
}


.wallet-connect {
  border: 1px solid #C9C9C9;
  height: 80px;
  color: #000;
  font-size: 16px;
  border-radius: 16px;
  padding: 0 28px;

  line-height: 42px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000;
  }

  img {
    float: right;
  }
}

.make-prediction {
  font-size: 18px;
  font-weight: bold;
}

.timer-block {
  min-width: 200px;
}

.make-prediction-time {
  font-size: 44px;
  line-height: 30px;
  width: 200px;
  text-align: left;

  &.closed {
    color: red;
  }
}

.results-in {
  color: #464646;
  line-height: 18px;
  vertical-align: text-top;
  margin-right: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
}

.overflow-lg-visible {
  overflow-x: visible;
}

.mobile-menu-button {
  position: relative;

  button {
    padding: 6px;
  }

  .arrow-down {
    width: 30px;
    height: 30px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
  }

  .menu-popup {
    background: #FFF;
    width: 300px;
    padding: 30px 24px;
    border-radius: 23px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    display: none;

    &.visible {
      display: block;
    }
  }
}

.pointer-event {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1360px;
  }
}

@media all and (min-width: 992px) and (max-width: 1340px) {
  .make-prediction {
    margin-top: 20px;
  }
}

@media all and (max-width: 992px) {
  body {
    margin-bottom: 120px;
  }

  #header {
    padding: 25px 10px;
  }

  #footer {
    height: 120px;
    line-height: 140px;
    overflow: hidden;
  }

  .logo {
    width: 200px;
  }

  .overflow-lg-visible {
    overflow-x: hidden;
  }

  .splide__pagination__page {
    background: #FFF !important;
    opacity: .9 !important;

    &.is-active {
      background: #000 !important;
    }
  }

  .btn-arrow {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 0;

    img {
      position: absolute;
      left: 10px;
      top: 13px;
    }
  }

  .lh-2 {
    line-height: 28px;
  }

  .modal-content .modal-body {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }

  .mobile-menu-button {
    position: absolute;
    top: -34px;
    right: 12px;

    .menu-popup {
      position: fixed;
      width: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0;
    }
  }

  #modal-my-wallet {
    .modal-content {
      border-radius: 0;
      height: 100vh;
    }

    .modal-dialog {
      margin: 0;
    }
  }

  .dropdown.datepicker .dropdown-menu {
    left: 0 !important;
  }
}
